/********** Media queries breakpoints *****/
/********** Media queries breakpoints *****/
/********** Login Page *****/
/********** Login Page *****/
/********** Robots Page *****/
/********** Robots Page *****/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
.center {
  text-align: center;
}
.flex-align-center {
  justify-content: center;
  align-items: center;
}
.container-flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex-align-row {
  flex-direction: row;
}
.flex-align-column {
  flex-direction: column;
}
.hidden {
  display: none;
}
.display-block {
  display: block;
}
.full-width {
  width: 100%;
}
.automatic {
  height: auto;
  width: auto;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.page-wrapper {
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 370px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
body {
  background-color: #FFFFFF;
  background-image: url('../images/background-transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: Trebuchet MS, Calibri Light, Arial, Helvetica, sans-serif;
}
.robots-button {
  background-color: #FFE966;
  color: #003A19;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px 15px 10px 15px;
  box-shadow: 2px 3px 10px #151515;
}
.header-wrapper {
  min-width: 370px;
  width: 100%;
  margin: 0px;
}
.top-bar {
  background: linear-gradient(90deg, #013b1a, #c6d3c9, #013b1a);
  width: 69%;
  height: auto;
  justify-content: space-between;
  min-width: 370px;
  min-height: 85px;
  max-width: 1500px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 10px 5px #969696;
}
.title {
  flex-wrap: wrap;
}
.top-bar-content {
  justify-content: space-between;
}
.top-bar-content h1 {
  color: #FFFFFF;
}
.top-bar-img {
  height: 30px;
  width: 30px;
  margin: 10px;
  padding: 0px;
}
.onclick-menu {
  margin: 0px;
  padding: 0px;
}
.onclick-menu:focus {
  pointer-events: none;
}
.onclick-menu-content {
  background-color: #fef8c6;
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  margin-left: -100px;
  max-width: 150px;
  color: #003A19;
  box-shadow: 2px 3px 10px #151515;
  transition: visibility 0.25s;
}
.onclick-menu:focus .onclick-menu-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.onclick-menu-content span {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 0px;
}
.break-point {
  display: none;
}
.container-flex {
  flex-wrap: wrap;
}
.container-login {
  padding: 5%;
}
.container-login > div {
  margin-bottom: 15px;
}
.flex-align-center-login {
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  background: linear-gradient(90deg, rgba(198, 211, 201, 0.75), rgba(234, 234, 234, 0.75), rgba(198, 211, 201, 0.75));
  min-height: 350px;
  min-width: 350px;
  max-height: 750px;
  max-width: 500px;
}
.login-text-wrapper {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #003A19;
}
.email-wrapper,
.password-wrapper {
  width: 100%;
  color: #003A19;
}
.input-text-mail,
.input-text-pass {
  min-width: 200px;
  width: 98%;
  height: 25px;
  border: 2px solid #003A19;
  background-color: #FFFFFF;
  color: #003A19;
  font-weight: bold;
  font-size: 15px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}
input::placeholder {
  color: #003A19;
}
.remember-me-forgot-password-wrapper {
  width: 100%;
  color: #003A19;
  font-family: Calibri Regular;
}
.forgot-password-wrapper a {
  text-decoration: none;
  color: inherit;
}
.log-in-button-wrapper {
  width: 100%;
}
.log-in-button {
  background-color: #FFE966;
  color: #003A19;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 3px 10px #151515;
}
.successfully-logged-out {
  width: 100%;
  height: 30px;
  background: #FFE966;
  color: #003A19;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Calibri Regular;
  margin-top: 15px;
}
.control-block {
  height: auto;
  margin-top: 85px;
  width: 100%;
  min-width: 370px;
}
.robots-statistics-wrapper {
  flex-wrap: wrap;
  width: 55%;
  height: auto;
  min-width: 300px;
  min-height: 300px;
  max-width: 1500px;
  background: linear-gradient(90deg, rgba(198, 211, 201, 0.75), rgba(234, 234, 234, 0.75), rgba(198, 211, 201, 0.75));
  padding-bottom: 3%;
  padding-top: 3%;
}
.item {
  text-align: center;
  flex-wrap: wrap;
  width: 25%;
  height: auto;
  margin: 2%;
  min-width: 230px;
  min-height: 100px;
  background: #fef8c6;
  box-shadow: 2px 3px 10px #151515;
  color: #003A19;
}
.item h2,
.item h3 {
  min-width: 200px;
  min-height: 30px;
}
.item h3 {
  color: #447744;
}
.item:hover {
  background: linear-gradient(90deg, #FFE966, #fef8c6, #FFE966);
}
.content-wrapper {
  height: auto;
  width: 100%;
  color: #003A19;
}
.interior-wrapper {
  max-width: 1500px;
  align-items: initial;
  width: 100%;
}
.left-side-wrapper {
  width: 40%;
  height: 100%;
  min-width: 200px;
  max-width: 370px;
  flex-wrap: wrap;
  z-index: 1;
  display: flex;
}
.left-side-wrapper.script-class {
  display: flex;
  width: 69%;
}
.all-robots {
  height: 75px;
}
.robot-overview {
  background: linear-gradient(90deg, rgba(198, 211, 201, 0.75), rgba(234, 234, 234, 0.75), rgba(198, 211, 201, 0.75));
  height: auto;
  padding: 0px 25px 25px 25px;
}
.robot-overview.detail-page {
  margin-top: 75px;
}
.robot-details,
.robot_date {
  padding: 0px;
  padding-bottom: 25px;
}
.department-wrapper,
.robots-wrapper,
.robot-date-from,
.robot-date-to {
  justify-content: space-between;
  margin-bottom: 10px;
}
.right-side-wrapper {
  margin-top: 0px;
  margin-left: 50px;
  height: 100%;
  min-width: 300px;
  max-width: 700px;
  width: 40%;
  flex-wrap: wrap;
}
.note-wrapper {
  margin: 50px;
}
.note {
  background: #fef8c6;
  box-shadow: 2px 3px 10px #151515;
  color: #003A19;
  width: 250px;
  height: 200px;
}
.note-text {
  text-align: center;
  padding: 0px;
}
.note h1 {
  font-size: 50px;
  margin: -25px;
}
.graph-wrapper {
  padding: 15px;
  min-width: 300px;
  min-height: 125px;
  background: linear-gradient(90deg, rgba(198, 211, 201, 0.75), rgba(234, 234, 234, 0.75), rgba(198, 211, 201, 0.75));
  max-width: 500px;
  max-height: 250px;
}
.performance-img {
  height: 100%;
  width: 100%;
  min-width: 250px;
  min-height: 125px;
  max-width: 500px;
  max-height: 250px;
}
.form {
  border: 2px solid #003A19;
  color: #003A19;
  width: 175px;
  height: 25px;
}
#rob {
  height: 75px;
  width: 167px;
  resize: none;
}
.show-overview {
  display: none;
  height: 30px;
  margin: 0px;
  padding: 0px;
}
.close-overview {
  display: none;
  height: 30px;
  margin: 0px;
  padding: 0px;
}
.open-img {
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  border: 2px solid #003A19;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.close-img {
  height: 30px;
  width: 30px;
  margin: 0px;
  margin-right: -25px;
  background-color: #FFFFFF;
  border: 2px solid #003A19;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.title-variable {
  display: none;
}
@media only screen and (max-width: 768px), only screen and (min-device-pixel-ratio: 2) and (max-width: 4*768px) {
  .login-wrapper {
    min-height: 100%;
    min-width: 100%;
    max-height: none;
    max-width: none;
  }
  .flex-align-center-login {
    justify-content: center;
    align-items: initial;
  }
  .item h2,
  .item h3 {
    min-width: 150px;
    min-height: 20px;
  }
  .top-bar {
    padding: 0px;
  }
  .show-overview {
    display: block;
  }
  .close-overview {
    display: block;
  }
  .left-side-wrapper {
    display: none;
    width: 0px;
    max-width: none;
    min-width: 370px;
    background: linear-gradient(90deg, #c6d3c9, #eaeaea, #c6d3c9);
  }
  .right-side-wrapper {
    margin: 0px;
  }
  .all-robots {
    display: none;
  }
  .note-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .graph-wrapper {
    float: none;
  }
  .robot-overview.detail-page {
    margin-top: 0px;
  }
  .title {
    font-size: 13px;
  }
  .title-details {
    display: none;
  }
  .title-variable {
    display: block;
  }
  .break-point {
    display: block;
  }
  body {
    background-size: 90%;
  }
}
